<div id="<%= dom_id scraped_link %>">
  <p>
    <strong>Name:</strong>
    <%= scraped_link.name %>
  </p>
  <p>
    <strong>Link:</strong>
    <%= scraped_link.link %>
  </p>
  <p>
    <strong>Total:</strong>
    <%= scraped_link.total %>
  </p>
  <p>
    <strong>status:</strong>
    <%= scraped_link.status %>
  </p>
</div>
