<section class="section">
  <div class="container">
    <p class="has-text-success"><%= notice %></p>
    <p class="has-text-danger"><%= alert %></p>
    <div class="container mb-6">
      <%= render 'form'%>
    </div>
    <div class="container mb-6">
      <div class="box">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>Name</th>
              <th>Total</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% @scraped_links.each do |scraped_link| %>
              <tr>
                <td>
                  <%= link_to scraped_link.name, scraped_link, class: 'has-text-info' %>
                </td>
                <td><%= scraped_link.total %></td>
                <td><%= scraped_link.status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%== pagy_bulma_nav(@pagy) %>
      </div>
    </div>
  </div>
</section>
